.sudoku {
    margin-left: 0;
    display: inline;
}
.sudoku-table{
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-collapse: separate;
    border-spacing: 0;
}
td {
    height: 0;
    width: 33%; 
    border: none;
    padding: 0;
}
.block-column {
    border-left: 3px solid black;
}
.block-row {
    border-top: 2.5px solid black;
}

#filled{
    background-color: #E0E0E0;
}

input {
    width: 27px;
    font-size: 1.25rem;
    border:none;
    background-color:transparent;
    padding: 0.75rem 0.75rem;
    text-align: center;
}
input::placeholder{
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,  /*removing the arrows for input type: number*/
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

#valid-not-valid {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#valid-or-not {
    text-align: center;
    font-size: large;
    font-size: 1.5rem;
}
.valid-sudoku {
    color: #28a745;
}
.invalid-sudoku {
    color: red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.dont-solve {
    opacity: 0.6;
    cursor: not-allowed;
}
#solve {
    margin-right: 7rem;
    display: inline-block;
    background-color: #04AA6D;
    color: #FFFFFF;
    border: none;
    border-radius: 3.5px;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 18px;
    text-decoration: none;
}
#solve:hover:not([disabled]) {
    background-color: #3e8e41;
}

.reset {
    display: inline-block;
    background-color: #0198E1;
    color: #FFFFFF;
    border: none;
    border-radius: 3.5px;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 18px;
    text-decoration: none;
}
.reset:hover {
    background-color: #4682B4;
}

@media only screen and (max-width: 1024px){
    .sudoku-table {
        width: 30px;
    }
    input {
        width: 30px;
        height: 30px;   
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 472px){
    .sudoku {
        margin-left: -500px;
    }
    .sudoku-table {
        width: 12px;
    }
    input {
        width: 12px;
        height: 12px;   
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 360px) {
    .sudoku-table{
        margin-left: -7px;
    }
}